<div class="content">
    <div class="main-title">    
        <p>My sme Železiar</p>
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <h1 class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Tradície ožívajúce v umení</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="container center">
            <div class="text-left">
                <p class="title">Folklórny súbor Železiar</p>
                <p>
                    už od roku <b>1964</b> prináša na slovenskú folklórnu scénu to najlepšie 
                    z tradičnej<b> ľudovej kultúry východného Slovenska.</b>
                </p>
                <p>
                    Vyniká sviežou dramaturgiou, experimentálnou choreografickou tvorbou, 
                    schopnosťou ponúknuť netradičné spojenia ako aj prienik rôznych štýlov.
                </p>
            </div>
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img right">
        </div>

        <div class="container center switch">
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img left">
            <div class="text-right">
                Prezentuje sa <b>autentickými a štýlovo čistými choreografiami</b> s pôvodnými prejavmi tradičnej ľudovej kultúry,
                no popri tom smelo siahne aj po <b>originálnych javiskových štylizáciách,</b> 
                ktoré vybočujú zo všetkého zaužívaného a známeho.
            </div>
        </div>

        <div class="container center">
            <div class="text-left">
                <p class="title"> Ohúri, prekvapí, <br> vyvolá diskusiu i poetickú náladu.</p>
                <p> Dôsledne ťaží z toho najčistejšieho ľudového umenia, chráni, pestuje a šíri to, čo sa nám zachovalo. </p>
            </div>
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img right">
        </div>
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Napísali o nás</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="container">
            <div class="small-wrapper">
                <p class="primary">
                    „Železiar svojou jasnou dramaturgiou, umeleckou koncepciou jednotlivých programov 
                    a majstrovskou choreografiou môže slúžiť za vzor aj profesionálnym umeleckým telesám. 
                    Systematická a cieľavedomá príprava tanečníkov 
                    sa odzrkadľuje vo vynikajúcej interpretácii, ktorú možno pokojne nazvať profesionálnou.”
                </p>
                <p class = "secondary"> Juraj Kubánka, dlhoročný choreograf SĽUKu</p>
            </div>
            <div class="small-wrapper">
                <p class="primary">
                    „Za všetky tie roky Železiar takmer vždy patril ku špičke našich folklórnych súborov. 
                    Okrem dôkladného poznania pôvodného ľudového tanca, jeho špecifického štýlu vie mu dať pri jeho inscenácii 
                    aj vytríbenú javiskovú formu skrze svojich vynikajúcich interpretov a preto je Železiar úspešný.”
                </p>
                <p class = "secondary"> Štefan Nosáľ, režisér, umelecký vedúci Lúčnice </p>
            </div>
            <div class="small-wrapper">
                <p class="primary"> 
                    „Každý z programov súboru je zárukou kvality a najmä autorskej originality a vždy je netrpezlivo očakávaný medzi folkloristami.
                    Železiar je avantgardou súborového folkloristického hnutia, dominuje nielen kvalitnou choreografickou tvorbou, 
                    ale je vzorom pre ostatných aj tvorčou prácou v hudobnej a speváckej zložke.”
                </p>
                <p class="secondary"> Ján Blaho, choreograf, pedagóg VŠMU </p>
            </div>
        </div>    
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>My sme Železiar</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="container">
            <div class="element clickable" routerLink="../umelecke-vedenie" routerLinkActive="active">
                <img src="assets/img/vedenie.jpg" alt="">
                <p> UMELECKÉ VEDENIE </p>
            </div>
            <div class="element clickable" routerLink="../tanecna-zlozka" routerLinkActive="active">
                <img src="assets/img/tanecnici .jpg" alt="">
                <p> TANEČNÁ ZLOŽKA </p>
            </div>
            <div class="element clickable" routerLink="../hudobna-zlozka" routerLinkActive="active">
                <img src="assets/img/hudobnici.JPG" alt="">
                <p> HUDOBNÁ ZLOŽKA </p>
            </div>
            <div class="element clickable" routerLink="../spevacka-zlozka" routerLinkActive="active">
                <img src="assets/img/spevacky.jpg" alt="">
                <p> SPEVÁCKA ZLOŽKA </p>
            </div>
        </div>
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Z našej histórie</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>
        
        <div class="container">
            <div class="wrapper">
                <p class="primary">
                    Železiar pôsobí na slovenskej folklórnej scéne od roku 1964.
                    Počas svojho viac než 60-ročného pôsobenia na scéne uviedol <b>desiatky premiérových programov</b>, v ktorých účinkovali <b>stovky členov súboru</b>.
                    Za toto obdobie absolvoval<b>tisícky vystúpení doma i v zahraničí</b>, pričom jeho tvorba zahŕňala nielen klasické folklórne pásma, 
                    ale aj scénické experimentálne novinky, ktoré posúvali hranice tradičného umenia.
                    Uviedol taktiež aj dva maratóny tanca, ktoré sa stali ďalšími z mnohých nezabudnuteľných míľnikov v histórii tohto telesa. 
                </p>
                <div class="buttons">
                    <div class="round-button clickable" routerLink="../osobnosti-suboru" routerLinkActive="active">
                        <p class="primary"> OSOBNOSTI SÚBORU </p>
                    </div>
                    <div class="round-button clickable" routerLink="../ocenenia" routerLinkActive="active">
                        <p class="primary"> OCENENIA </p>
                    </div>
                    <div class="round-button clickable" routerLink="../maraton-tanca" routerLinkActive="active">
                        <p class="primary"> MARATÓN TANCA </p>
                    </div>
                    <div class="round-button clickable" routerLink="../archiv-premier" routerLinkActive="active">
                        <p class="primary"> PREMIÉRY </p>
                    </div>
                    <div class="round-button clickable" routerLink="../archiv-vystupeni" routerLinkActive="active">
                        <p class="primary"> ARCHÍV VYSTÚPENÍ </p>
                    </div>
                </div>
            </div>                
        </div>
    </div>
</div>
