<div class="main-title">
    <p>MY SME ŽELEZIAR</p>
</div>

<div class="content">
    <div class="title">
        Tancom k trvalej invalidite  <!-- TODO: vymysliet catchy nadpis -->
    </div>

    <div class="text">
        TODO: PREROBIT. Folklórny súbor Železiar pôsobí na slovenskej folklórnej scéne od roku 1964. 
        Zameriava sa na prezentáciu ľudového umenia najmä z regiónov Východného Slovenska: Abova, Zemplína, Šariša, Spiša. 
        Je známy špičkovou interpretáciou ľudových tancov a vynikajúcou ľudovou hudbou v spojení so ženskou speváckou skupinou. 
        Patrí medzi najlepšie, najznámejšie a najuznávanejšie súbory na Slovensku.
        Celú existenciu súboru sprevádza interpretačná vyváženosť a rovnomernosť hudobnej, speváckej a tanečnej zložky. 
        V kompaktnom celku vynikajú najlepší sólisti – tanečníci, speváci i muzikanti. 
        Železiar vyniká sviežou dramaturgiou, experimentálnou choreografickou tvorbou, schopnosťou ponúknuť netradičné spojenia ako aj prienik rôznych štýlov. 
        Využíva širokú škálu ľudových hudobných nástrojov. 
        Prináša autentické a štýlovo čisté choreografie s pôvodnými prejavmi tradičnej ľudovej kultúry východoslovenských regiónov. 
        No popri tom smelo siahne aj po vtipných javiskových štylizáciách, ktoré vybočujú zo všetkého zaužívaného a známeho. 
        Ohúri, prekvapí, vyvolá diskusiu i poetickú náladu. 
        Dôsledne ťaží z toho najčistejšieho ľudového umenia, chráni, pestuje a šíri to, čo sa nám zachovalo.
        Činnosť súboru zabezpečuje občianske združenie Košické folklórne štúdio, Súkromná základná umelecká škola Vlada Urbana a umelecká reklamná agentúra Kultobin. 
        Súbor Železiar je partnerom Košického samosprávneho kraja, s ktorým spolupracuje pri napĺňaní cieľov koncepcie starostlivosti o tradičnú ľudovú kultúru Košického samosprávneho kraja.
    </div>

    <div class="container">
        <div class="element">
            <p class="element-primary"> Prvy kratky pekny vyrok o FS Zeleziar. Sme strasne sikovni a je radost sa na nas pozerat. </p>
            <p class = "element-secondary"> Lucia Michalekova 10:06 </p>
        </div>
        <div class="element">
            <p class="element-primary"> Druhy kratky pekny vyrok o FS Zeleziar. Bavi nas nasa praca a srsi z nas temperament a energia. </p>
            <p class = "element-secondary"> Lucia Michalekova 10:08 </p>
        </div>
        <div class="element">
            <p class="element-primary"> Treti kratky pekny vyrok o FS Zeleziar. Vsetko zvladame s prehladom, sme 100% organizovani, nikdy nemeskame a pojmy stres a nestihacky nemame v slovniku. </p>
            <p class = "element-secondary"> Lucia Michalekova 10:11 </p>
        </div>
        <div class="element">
            <p class="element-primary"> Stvrty kratky pekny vyrok o FS Zeleziar. S Bozou pomocou snad najdem styri pekne vyroky o Zeleziari a nebudem tu musiet takto improvizovat. </p>
            <p class = "element-secondary"> Lucia Michalekova 10:12 </p>
        </div>
    </div>

    <div class="title">
        Spoznajte ŽELEZIAR
    </div>

    <div class="container">
        <div class="element">
            (TODO: FOTKA VEDENIA)
            <p class="element-primary"> UMELECKÉ VEDENIE </p>
        </div>
        <div class="element">
            (TODO: FOTKA TANECNIKOV)
            <p class="element-primary"> TANEČNÁ ZLOŽKA </p>
        </div>
        <div class="element">
            (TODO: FOTKA HUDBY)
            <p class="element-primary"> HUDOBNÁ ZLOŽKA </p>
        </div>
        <div class="element">
            (TODO: FOTKA SPEVACOK)
            <p class="element-primary"> SPEVÁCKA ZLOŽKA </p>
        </div>
    </div>

    <div class="title">
        Z našej HISTÓRIE
    </div>    

    <div class="text">
        Folklórny súbor Železiar pôsobí na slovenskej folklórnej scéne od roku 1964. 
        Doplniť a vymyslieť krátky text o histórii Železiaru.
    </div>

    <div class="container">
        <div class="element">
            <p class="element-primary"> OSOBNOSTI SÚBORU </p>
        </div>
        <div class="element">
            <p class="element-primary"> OCENENIA </p>
        </div>
        <div class="element">
            <p class="element-primary"> MARATÓN TANCA </p>
        </div>
        <div class="element">
            <p class="element-primary"> PREMIÉRY </p>
        </div>
        <div class="element">
            <p class="element-primary"> ARCHÍV VYSTÚPENÍ </p>
        </div>
    </div>
</div>
