.footer{
    padding:2rem;
    padding-top: 1rem;
    background-color: black;
    color: white;
    .content{
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;
        .logo{
            width: 7rem;
            height: 7rem;
            margin-right: 3rem;
        }
        .info{
            text-align: center;
            display: inline-block;
            vertical-align: top;
            width: 20rem;
            .title{
                font-size: larger;
                color: grey;
            }
        }
        .large{
            width: 37rem;
        }
    }

    hr{
        border-color: grey;
        height: 1px;
    }

    .partners{
        text-align: center;
        padding-top: 0.5rem;
        .title{
            padding-bottom: 1rem;
            font-size: larger;
            color: grey;
        }
        img{
            display: inline-block;
            height: 3rem;
            margin: 0 1rem;
        }
    }
}