<div class="content">
    <div class="section">
        <div class="footer">
            <div class="divider">
                <img src="assets/svg/line1.png" alt="" class="line">
                <img src="assets/svg/line1.png" alt="" class="line wide">
            </div>
            
            <div class="content">
                <div class="logo">
                    <img src="assets/img/zeleziar-logo-white.png" alt="">
                </div>
                
                <div class="info">
                    <p class="title">Kontakty:</p>
                    <P><span> Lukáš Borovský </span> <br> (umelecký vedúci) <br> +421 911 295 732 </P>
                    <P><span>Alena Kmecová Škodyová</span><br> (umelecká vedúca) <br> +421 908 630 765 </P>
                    <p>zeleziar&#64;zeleziar.sk</p>
                </div>
                
                <div class="info">
                    <p class="title">Pre médiá:</p>
                    <p>TODO: Vytvorit assety</p>
                </div>
        
                <div class="info">
                    <p class="title">Všeobecné:</p>
                    <p>Ochrana osobných údajov atd</p>
                    <p>Vytvoriť neskôr</p>
                </div>
            </div>
        
            <hr>
        
            <div class="partners">
                <p class="title">Partneri:</p>
        
                <div class="logo">
                    <div>
                        <img src="assets/img/ksk-logo-white.png" alt="">
                    </div>
        
                    <div>
                        <img src="assets/img/res-nexus-logo-white.png" alt="">
                    </div>
        
                    <div>
                        <img src="assets/img/termostav-mraz-white.png" alt="">
                    </div>
        
                    <div>
                        <img src="assets/img/hasma-logo-white.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
