<div class="footer">
    <div class="content">
        <img class="logo" src="assets/img/zeleziar-logo-white.png" alt="">
        
        <div class="info">
            <p class="title">Kontakty:</p>
            <p> +421 905 241 030 </p>
            <P> +421 911 295 732 </P>
            <P> +421 908 630 765 </P>
            <p>zeleziar&#64;zeleziar.sk</p>
        </div>
        
        <div class="info">
            <p class="title">Pre médiá:</p>
            <p>TODO: Vytvorit assety</p>
        </div>

        <div class="info">
            <p class="title">Všeobecné:</p>
            <p>Ochrana osobných údajov atd</p>
            <p>Vytvoriť neskôr</p>
        </div>
    </div>

    <hr>

    <div class="partners">
        <p class="title">Partneri:</p>
        <img src="assets/img/ksk-logo-white.png" alt="">
        <img src="assets/img/res-nexus-logo-white.png" alt="">
        <img src="assets/img/termostav-mraz-white.png" alt="">
        <img src="assets/img/hasma-logo-white.png" alt="">
    </div>
</div>
