<div class="content">
    <div class="main-title">
        <p> Požičovňa krojov </p>
    </div>
    
    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>
        
        <div class="container">
            <div class="info">
                <div class="wrapper">                    
                    <h1 class="subtitle">
                        <img src="assets/img/zr-logo-left.png" alt="">
                        <span> Požičovňa krojov <br> FS Železiar </span> 
                        <img src="assets/img/zr-logo-right.png" alt="">
                    </h1>
                    <p class="secondary"> Kroje na svadby, oslavy, plesy, súťaže, detské oslavy <br class="wide"> a iné podujatia.</p>
                </div>
        
                <div class="wrapper">
                    <p class="tertiary"> (Dom ľudového tanca) </p>                
                    <p class="tertiary"> Starozagorská 10, </p>
                    <p class="tertiary"> 04023, Košice </p>
                    <p class="tertiary"> Slovensko </p>
                </div>
            </div>
        
            <div class="block">
                <p class="title"> Kontaktujte nás a dohodnite si termín výberu a skúšky: </p>
        
                <div class="wrapper">
                    <div class="contact">
                        <p><b> Zuzana Sitárová </b> <br> krojárka <br> +421 905 250 837 </p>
                    </div> 
                    <div class="contact">
                        <p>Poradí, vyberie Vám vhodný kroj alebo krojovú súčasť podľa želania a upraví Vám ho priamo na Vašu postavu.</p>
                     </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">            
        </div>

        <div class="text">
            <div>
                <p class="primary"> Do krojárne vchádzajte z dvora. (vchod číslo 5, zvonček číslo 17) </p>  
                <p> <b> Poznámka: </b> Každý pondelok je sanitačný deň, krojáreň je <b> ZATVORENÁ. </b> </p> 
            </div>
        </div>  
    </div> 

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">            
        </div>

        <div class="container">
            <img class="image" src="assets/img/305696887_611341183950085_7818409004015241179_n.jpg" alt="">
            
            <div class="info">
                <div class="wrapper">
                    <p class="primary" > Svadobné čepčenie </p>
                    <p class="tertiary"> Ponúkame Vám aj obrad čepčenia v 2 variantoch v podaní FS Železiar.</p>
                    <p class="secondary"> Viac info TU: </p>
                    <div class="round-button">
                        <a [routerLink]="['/cepenie']" routerLinkActive="active" > Svadobné čepčenie </a>
                    </div>
                </div>
            </div>
            
            <img class="image" src="assets/img/305942642_1091677618379315_2271909170891964180_n.jpg" alt="">
        </div>
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide"> 
        </div>

        <div class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Ponuka krojov</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </div>

        <div class="gallery">
            <div class="photos white">
                <div class="photo" *ngFor="let item of dataSource">
                    <img [src]="item.img" alt="" (click)="open(item)"> 
                    <div class="name">
                        <b>{{item.name}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-gallery *ngIf="!isHidden" [dataSource]="dataSource" [startIndex]="index" (close)="close()"></app-gallery>
</div>
