.main-title{
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    background-color: grey;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("C:/Users/z004va3y/Documents/zr-website/src/assets/img/bg/FB_IMG_1707065443054.jpg");
    filter: contrast(1.1) saturate(1.3);     
    background-attachment: fixed;
    background-size: cover; /* Scales the image to cover the element */
    background-position: center 65%; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.content{
    display: flex;
    flex-direction: column;
    align-items: center; 
    .container{
        margin: 1rem;
        padding: 1rem;
        background-color: antiquewhite;
        width: 50%;
        .title{
            font-size: xx-large;
            text-align: center;
        }
    }

    // text-align: center;
    // .container{
    //     display: inline-block;
    //     vertical-align: top;
    //     margin: 1rem;
    //     padding: 0.3rem;
    //     background-color:rgb(249, 241, 229);
    //     border-radius: 5%;
    //     width: 20rem;
    // }
}