<div class="page">
    <div class="main-title">
        <p>Osobnosti súboru</p>
    </div>

    <div class="content">
        <div class="section">
            <p class="title"> Tradície ožívajúce v umení </p>

            <div class="segment">
                <div class="text-left">
                    Folklórny súbor Železiar na slovenskej folklórnej scéne už od roku 1964 
                    prináša to najlepšie z tradičnej ľudovej kultúry východného Slovenska.
                    Vyniká sviežou dramaturgiou, experimentálnou choreografickou tvorbou, 
                    schopnosťou ponúknuť netradičné spojenia ako aj prienik rôznych štýlov.
                </div>
                <img src="assets\img\bg\334799983_717597609847957_1473779763185668692_n.jpg" class="img-right">
            </div>

            <div class="segment">
                <img src="assets\img\bg\334799983_717597609847957_1473779763185668692_n.jpg" class="img-left">
                <div class="text-right">
                    Prináša autentické a štýlovo čisté choreografie s pôvodnými prejavmi tradičnej ľudovej kultúry 
                    východoslovenských regiónov, no popri tom smelo siahne aj po vtipných javiskových štylizáciách, 
                    ktoré vybočujú zo všetkého zaužívaného a známeho. 
                </div>
            </div>

            <div class="segment">
                <div class="text-left">
                    Ohúri, prekvapí, vyvolá diskusiu i poetickú náladu. 
                    Dôsledne ťaží z toho najčistejšieho ľudového umenia, chráni, pestuje a šíri to, čo sa nám zachovalo.
                </div>
                <img src="assets\img\bg\334799983_717597609847957_1473779763185668692_n.jpg" class="img-right">
            </div>
        </div>

        <div class="section section-bg">
            <p class="title"> Napísali o nás </p>

            <div class="container">
                <div class="element">
                    <p class="element-primary">
                        Železiar svojou jasnou dramaturgiou, umeleckou koncepciou jednotlivých programov 
                        a majstrovskou choreografiou môže slúžiť za vzor aj profesionálnym umeleckým telesám. 
                        Má veľkú zásluhu na objavovaní a kriesení folklórnych prejavov lokalít východného Slovenska, 
                        inscenujúc ich vo veľmi pôsobivej, emocionálne silnej podobe. Systematická a cieľavedomá príprava tanečníkov 
                        sa odzrkadľuje vo vynikajúcej interpretácii, ktorú možno pokojne nazvať profesionálnou.
                    </p>
                    <p class = "element-secondary"> Juraj Kubánka, dlhoročný choreograf SĽUKu</p>
                </div>
                <div class="element">
                    <p class="element-primary">
                        Za všetky tie roky Železiar takmer vždy patril ku špičke našich folklórnych súborov. 
                        Posledné, ale dlhé obdobie pod umeleckým vedením talentovaného choreografa a vedúceho súboru Vlada Urbana.
                        Okrem dôkladného poznania pôvodného ľudového tanca, jeho špecifického štýlu vie mu dať pri jeho inscenácii 
                        aj vytríbenú javiskovú formu skrze svojich vynikajúcich interpretov a preto je Železiar úspešný.
                    </p>
                    <p class = "element-secondary"> Štefan Nosáľ, režisér, umelecký vedúci Lúčnice </p>
                </div>
                <div class="element">
                    <p class="element-primary"> 
                        Každý z programov súboru je zárukou kvality a najmä autorskej originality a vždy je netrpezlivo očakávaný medzi folkloristami.
                        Svojou tvorbou sa Železiar dlhodobo usadil na pomyselnom vyvýšenom mieste medzi súbormi odkiaľ už dlhšiu dobu hľadí nie povýšene na ostatné slovenské súbory .
                        Železiar je avantgardou súborového folkloristického hnutia, dominuje nielen kvalitnou choreografickou tvorbou, 
                        ale je vzorom pre ostatných aj tvorčou prácou v hudobnej a speváckej zložke.
                    </p>
                    <p class = "element-secondary"> Ján Blaho, choreograf, pedagóg VŠMU </p>
                </div>
            </div>    
        </div>

        <div class="section">
            <p class="title"> Spoznajte ŽELEZIAR </p>

            <div class="container">
                <div class="element clickable">
                    <img src="assets/img/vedenie.jpg" alt="">
                    <p class="element-primary"> UMELECKÉ VEDENIE </p>
                </div>
                <div class="element clickable">
                    <img src="assets/img/tanecnici .jpg" alt="">
                    <p class="element-primary"> TANEČNÁ ZLOŽKA </p>
                </div>
                <div class="element clickable">
                    <img src="assets/img/hudobnici.JPG" alt="">
                    <p class="element-primary"> HUDOBNÁ ZLOŽKA </p>
                </div>
                <div class="element clickable">
                    <img src="assets/img/spevacky.jpg" alt="">
                    <p class="element-primary"> SPEVÁCKA ZLOŽKA </p>
                </div>
            </div>
        </div>

        <div class="section section-bg">
            <p class="title"> Z našej HISTÓRIE </p>    
            
            <div class="segment">
                    Folklórny súbor Železiar pôsobí na slovenskej folklórnej scéne od roku 1964. 
                    Doplniť a vymyslieť krátky text o histórii Železiaru.
            </div>
    
            <div class="container2">
                <div class="element2 clickable">
                    <p class="element2-primary"> OSOBNOSTI SÚBORU </p>
                </div>
                <div class="element2 clickable">
                    <p class="element2-primary"> OCENENIA </p>
                </div>
                <div class="element2 clickable">
                    <p class="element2-primary"> MARATÓN TANCA </p>
                </div>
                <div class="element2 clickable">
                    <p class="element2-primary"> PREMIÉRY </p>
                </div>
                <div class="element2 clickable">
                    <p class="element2-primary"> ARCHÍV VYSTÚPENÍ </p>
                </div>
            </div>
        </div>
    </div>
</div>

