<div class="title">
    Tanečná zložka
</div>

<div class="content">
    <div class="info">

        <div class="container">
            <p class="subtitle">Vedúci mužskej tanečnej zložky</p>
            <p>Jozef Ďurkovič</p>
        </div>

        <div class="container">
            <p class="subtitle">Vedúca ženskej tanečnej zložky</p>
            <p>Katarína Mikitová</p>
        </div>

        <div class="container">
            <p class="subtitle">Umeleckí vedúci a choreografi</p>
            <p>Ing. Lukáš Borovský</p>
            <p>Mgr. Alena Kmecová Škodyová</p>
        </div>
    </div>

    <div class="profile">
        <div class="pic" *ngFor="let item of dataSource">
            <img src="{{item.image}}" alt="">
            <div class="name">
                <b>{{item.name}}</b>
            </div>
        </div>
    </div>
</div>
