<div class="content">
    <div class="main-title">
        <p>Kurz ľudových tancov</p>
    </div>
    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <div class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Spoznaj čaro slovenského folklóru</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </div>

        <div class="container">
            <div class="text">
                <p>
                    Ak vám nechýba úsmev, radosť z pohybu a chuť učiť sa nové veci, <br>
                    a ak cítite potrebu uvoľniť sa, vyčistiť hlavu a príjemne unaviť telo, <br>
                    tak určite vyskúšajte náš kurz ľudových tancov, <br>
                    pod vedením pedagógov Domu ľudového tanca.
                </p>
                <p>
                    Na kurze ľudového tanca, sa naučíte <b>základné kroky a figúry</b>, no i <b>základy párových ľudových tancov</b>
                    v priateľskej atmosfére. 
                </p>    
                <p>
                    Kurz je určený pre <b>všetkých</b> – od úplných začiatočníkov až po tých, ktorí už niekedy tancovali 
                    a chcú si zlepšiť techniku.
                </p>

                <p>
                    <b>Viac informácií o kurze a prihlášku nájdete TU:</b>
                </p>
              
                <button class="round-button">
                    <a href="https://www.szuske.sk/kurzy-ludoveho-tanca/"> Kurzy ľudového tanca </a>
                </button>
            </div>

            <app-gallery-wrapper></app-gallery-wrapper>
        </div>
    </div>
</div>



