.content{
    .main-title{
        position: relative;
        width: 100%;
        height: 80vh;
        background-color: grey;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg/IMG_0505.webp");
        filter: contrast(1.15) brightness(1.1);
        background-attachment: fixed;
        background-size: cover;
        background-position: center 85%;
        color: white;
        display: flex;
        justify-content: center; /* Centers text horizontally */
        align-items: center; /* Centers text vertically */
    }
    .section{
        padding-top: 1rem;
        padding-bottom:1rem;
        .background{
            overflow-x: hidden;
            .background-image-1{
                position: absolute;
                top: 8vw;     /* adjust as needed */
                left: 3rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 40vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }

            .background-image-2{
                position: absolute;
                top: 28vw;      /* adjust as needed */
                right: 3rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 40vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }
        }
        .container{
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text{
                max-width: 50%;
                padding: 1rem;
                margin: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                background-color: rgba(255, 255, 255, 0.6);
                box-shadow: 0 0 25px 25px rgba(255, 255, 255, 0.6);
                border-radius: 100px;
                p{
                    margin: 0.5rem 0rem;
                }
            }
            .wrapper{
                background-color: grey;
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg/IMG_0505.webp");
                filter: contrast(1.15) brightness(1.1);
                background-attachment: fixed;
                background-size: cover;
                background-position: center 85%;
                color: white;
                padding: 1rem;
                font-size: 1.1rem;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
                p{
                    background-color: rgba(0, 0, 0, 0.5);
                    margin: 0;
                    padding: 1rem;
                }
            }
            .round-button{
                background-color: grey;
                color: white;
                font-family: 'Odana';
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg/FS Železiar_Kino Scala_Prešov-27.webp");
                background-attachment: fixed;
                background-size: cover; 
                width: 9rem;
                height: 9rem;
                margin-top: 2rem;
                border-radius: 50%;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                a{  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: inherit;
                    text-decoration: none;
                    background-color:  rgba(0, 0, 0, 0.60);
                    font-size: 1.2rem;
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;
                }
            }
        }
    }
}

@media(max-width: 800px) {
    .content{
        .section{
            padding-top: 1rem;
            padding-bottom:1rem;
            .title{
                padding: 0 2rem;
                padding-top: 1rem;
                background-color: rgba(255, 255, 255, 0.685);
                box-shadow: 0 0 25px 25px rgba(255, 255, 255, 0.685);
                border-radius: 100px;
            }
            .background{
                overflow-x: hidden;
                .background-image-1{
                    top: 5vw;     /* adjust as needed */
                    left: -50vw;     /* adjust as needed */
                    z-index: -1;     /* behind the text */
                    width: 150vw;   /* or any size you want */
                }
    
                .background-image-2{
                    bottom: 0vw;      /* adjust as needed */
                    top: auto;
                    right: -50vw;     /* adjust as needed */
                    z-index: -1;     /* behind the text */
                    width: 150vw;   /* or any size you want */
                }
            }
            .container{
                display: flex;
                text-align: center;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .text{
                    max-width: 90vw;
                    padding: 1rem;
                    margin: 0rem 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    background-color: rgba(255, 255, 255, 0.6);
                    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.6);
                    border-radius: 100px;
                    p{
                        margin: 0.5rem 0rem;
                    }
                }
                .wrapper{
                    background-color: grey;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg/IMG_0505.webp");
                    filter: contrast(1.15) brightness(1.1);
                    background-attachment: fixed;
                    background-size: cover;
                    background-position: center 85%;
                    color: white;
                    padding: 1rem;
                    font-size: 1.1rem;
                    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
                    p{
                        background-color: rgba(0, 0, 0, 0.5);
                        margin: 0;
                        padding: 1rem;
                    }
                }
                .round-button{
                    background-color: grey;
                    color: white;
                    font-family: 'Odana';
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img/bg/FS Železiar_Kino Scala_Prešov-27.webp");
                    background-attachment: fixed;
                    background-size: cover; 
                    width: 9rem;
                    height: 9rem;
                    margin-top: 2rem;
                    border-radius: 50%;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    a{  
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: inherit;
                        text-decoration: none;
                        background-color:  rgba(0, 0, 0, 0.60);
                        font-size: 1.2rem;
                        width: 7rem;
                        height: 7rem;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}