<div class="content">
    <div class="main-title">
        <p> Čepčenie </p>
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>
        
        <div class="container">
            <div class="info">
                <div class="wrapper">                    
                    <h1 class="subtitle">
                        <img src="assets/img/zr-logo-left.png" alt="">
                        <span> Svadobné čepčenie </span> 
                        <img src="assets/img/zr-logo-right.png" alt="">
                    </h1>
                    <p class="secondary"> 
                        Objavte krásu slovenských svadobných zvyklostí, ktoré ožívajú v jedinečnom a autentickom prevedení Folklórneho súboru Železiar. 
                    </p>
                    <p class="secondary"> 
                        Slávnostný obrad plný spevu a tanca Vám ozvláštni a spestrí váš veľký deň.
                    </p>
                </div>
            </div>
        
            <div class="block">
                <p class="title"> Kontaktujte nás a overte si našu dostupnosť: </p>
        
                <div class="wrapper">
                    <div class="contact">
                        <p> +421 903 496 742 </p>
                    </div> 
                    <div class="contact">
                        <p>cepenie&commat;zeleziar.sk</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="text">
            <div>
                <p class="primary">Takmer na každej svadbe býva čepčenie vyvrcholením svadobného dňa.</p>
                Čepčenie nevesty je starodávny obrad, ktorý symbolizuje prechod od slobodnej dievčiny k manželstvu. 
                Nevesta sa tak vzdáva slobody a sľubuje vernosť svojmu manželovi.
                Obrad sprevádzajú tradičné piesne či tance, ktoré umocňujú slávnostnú atmosféru.
                Každý pohyb, gesto a spev má svoj význam – od snímania vienka, symbolizujúceho mladosť a slobodu, až po zakladanie čepca.
                Je to moment, ktorý prepája minulosť a tradície s dnešným svetom a vytvára tak magickú atmosféru a nezabudnuteľný zážitok.
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>
        
        <div class="container switch">
            <iframe 
                src="https://www.youtube.com/embed/guLL4oMCc90" 
                title="YouTube video" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>

            <div class="info">
                <div class="wrapper">                    
                    <h1 class="subtitle">
                        <img src="assets/img/zr-logo-left.png" alt="">
                        <span> Ponúkané možnosti </span> 
                        <img src="assets/img/zr-logo-right.png" alt="">
                    </h1>
                    
                    <div class="flex-wrappers">
                        <div class="small-wrapper">
                            <p class="small-subtitle">Čepčenie s tancom</p>
                            <ul>
                                <li> <span class="primary">300€</span> + doprava</li>
                                <li> cca <b>35 minút</b> </li>
                                <li> <b>3 tanečnice</b> a <b>3 tanečníci</b></li>
                                <li> sviečkový tanec</li>
                                <li> <b>tanec FS Železiar</b> </li>
                                <li> odpytávanie nevesty</li>
                                <li> interaktívna ukážka fľaškového tanca s ženíchom a svadobčanmi</li>
                                <li> <b>fľaškový tanec FS Železiar</b> </li>
                                <li> začepčenie nevesty</li>
                                <li> začiatok redového tanca</li>
                            </ul>
                        </div>

                        <div class="small-wrapper">
                            <p class="small-subtitle">Čepčenie bez tanca</p>
                            <ul>
                                <li> <span class="primary">200€</span> + doprava</li>
                                <li> cca <b>20 minút</b> </li>
                                <li> <b>3 tanečnice</b> a <b>1 tanečník</b></li>
                                <li> sviečkový tanec</li>
                                <li> odpytávanie nevesty</li>
                                <li> interaktívna ukážka fľaškového tanca s ženíchom a svadobčanmi</li>
                                <li> začepčenie nevesty</li>
                                <li> začiatok redového tanca</li>
                                
                            </ul>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




