<div class="main-title">
    <p> Čepčenie </p>
</div>

<div class="content">
    <div class="section">
        <div class="wrapper">  
            <div class="info">
                <div class="segment">
                    <p class="title zeleziar" > Požičovňa krojov <br> Folklórneho súboru Železiar </p>
                    <p><b> Kroje na svadby, oslavy, plesy, súťaže, <br> detské oslavy a iné podujatia. </b></p>
                </div>

                <div class="segment">
                    <p> (Dom ľudového tanca) </p>                
                    <p> Starozagorská 10, </p>
                    <p> 04023, Košice </p>
                    <p> Slovensko </p>
                </div>
            </div>
        </div>

        <div class="block">
            <p class="title"> Kontaktujte nás a dohodnite si termín výberu a skúšky: </p>
            <div class="contacts">
                <div class="contact">
                    <p><b>Zuzana Sitárová</b></p>
                    <p>krojárka</p>
                    <p>+421 905 250 837</p>
                </div> 
                <div class="text">
                    Poradí, vyberie Vám vhodný kroj alebo krojovú súčasť podľa želania a upraví Vám ho priamo na Vašu postavu.
                </div> 
            </div>
        </div> 
    </div>
    
    <div class="text">
        <p>Do krojárne vchádzajte z dvora. (vchod číslo 5, zvonček číslo 17)</p>  
        <p><b>Poznámka:</b> Každý pondelok je sanitačný deň, krojáreň je <b>ZATVORENÁ.</b> </p> 
    </div>   

    <div class="section">
        <div class="wrapper">  
            <div class="info">
                <div class="segment">
                    <p class="title zeleziar" > Svadobné čepčenie</p>
                    <p>Ponúkame Vám aj obrad čepčenia v 2 variantoch v podaní FS Železiar.</p>
                    <p> Viac info tu: </p>
                </div>

            </div>
        </div>

        <div class="block">
            <p class="title"> </p>
            <div class="contacts">
                <div class="contact">
                    <p><b>Zuzana Sitárová</b></p>
                    <p>krojárka</p>
                    <p>+421 905 250 837</p>
                </div> 
                <div class="text">
                    Poradí, vyberie Vám vhodný kroj alebo krojovú súčasť podľa želania a upraví Vám ho priamo na Vašu postavu.
                </div> 
            </div>
        </div> 
    </div>

    Fotogaléria
</div>


