.navbar {
  display:flex;
  background-color: transparent; 
  color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;       
  position: fixed;
  width: 100vw;   
  box-sizing: border-box;
  padding: 0.2rem 5%;
  font-size: 1.3rem;
  font-weight: 500;
  font-family:  'Odana';
  &.scrolled {
    background-color: white!important;
    color: black !important;
    font-weight: 600;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.21);
    transition: 200ms ease-in-out;
    .menu{
      li{
        a{
          color: navy !important;
        }
        .submenu{
          color: white !important;
          font-weight: 500;
          a{
            color: white !important;
            font-weight: 500;
          }
        }
      } 
      .menu-burger{
        color: navy !important;
      }
      .social-media a i{
        color: navy !important;
      }
    } 
  }
  .logo{
    width: 20%;
    img{
      width: 4rem;  
      cursor: pointer;
    }
  }
    
  .menu-burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    margin-right: 1rem;
  }

  .menu {
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    div{
      display: flex;
      flex-direction: row;
      li {
        position: relative;
        padding: 0.5rem 1rem;
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
        .submenu {
          list-style: none;
          position: absolute;
          font-size: 1.2rem;
          background: black;
          padding: 0.5rem;
          margin-top: 0.5rem;
          display: none;
          z-index: 10;
          min-width: 12rem;
          li {
            cursor: pointer;
          }
          .subsubmenu{
            list-style: none;
            position: absolute;
            background-color: grey;
            color: white;
            min-width: 12rem;
            padding: 0.5rem;
            left: 100%;
            top: -0.5rem;
          }          
        }
        &:hover .submenu {
          display: flex;
          flex-direction: column;
        }
      }
    }
    
    .social-media{
      display: flex;
      justify-content: center;
      align-items: center ;
      a i{
        padding: 0.5rem;
        color: white;     
      }
    }
  }
}



@media (max-width: 1200px) {
  .navbar{
    &.scrolled {
      color: white !important;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.21);
      transition: 200ms ease-in-out;
      .menu{
        .social-media a i{
          color: white !important;
        }
        li a{
          color: white !important;
        }
      } 
      .menu-burger{
        color: navy;
      }
    }
    .menu-burger {
      display: flex;
      z-index: 10;
      justify-content: end;
      align-items: center;
      &.open {
        color: white !important;
      }
    }
  
    .menu {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      div{
        display: block;
        hr{
          display:block;
          width: 10rem;
        }
        li {
          border-bottom: 1px solid black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .submenu {
            position: static;
            min-width: none;
            display: block;
            z-index: 0;
            color: rgb(150, 150, 150);
            margin: 0.5rem;
            a{
              color: rgb(150, 150, 150);
            }
            .subsubmenu{
              position: static;
              display: block;
              background-color: black;
              box-shadow: none;
              color: white;
              font-size: 1rem;
              margin-top: 0.3rem;
              z-index: 0; 
            }
          }
        }
      }
      .social-media{
        padding: 1rem;
      }
      &.open {
        display: flex; 
      }
  
    }
  }
}



