.navbar {
  display:flex;
  background-color: transparent; 
  color: white;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;       
  position: fixed;
  width: 100vw;   
  box-sizing: border-box;
  padding: 0.2rem 5%;
  font-size: 1.3rem;
  &.scrolled {
    background-color: white !important;
    color: black !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.21);
    transition: 200ms ease-in-out;
    .menu{
      li{
        a{
          color: black !important;
        }
        .submenu{
          color: white !important;
        }
      } 
      .menu-burger{
        color: black !important;
      }
      .social-media a i{
        color: black !important;
      }
    } 
  }
  .logo{
    width: 20%;
    img{
      width: 4rem;  
      cursor: pointer;
    }
  }
    
  .menu-burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: white;
  }
  .menu {
    width: 80%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    div{
      display: flex;
      flex-direction: row;
      hr{
        display: none;
      }
      li {
        position: relative;
        padding: 10px 20px;
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
        .submenu {
          list-style: none;
          position: absolute;
          font-size: 1rem;
          left: 0;
          top: 100%;
          background: black;
          display: none;
          padding: 10px;
          z-index: 10;
          transition: max-height 200ms ease-out, opacity 200ms ease-out;
          .subsubmenu1{
            list-style: none;
            position: absolute;
            background-color: black;
            padding: 0;
            left: 110%;
            top: 0%;
          }          
          .subsubmenu2{
            list-style: none;
            position: absolute;
            background-color: black;
            padding: 0;
            left: 200%;
            top: 0%;
          }          
          .subsubmenu3{
            list-style: none;
            position: absolute;
            background-color: black;
            padding: 0;
            left: 300%;
            top: 0%;
          }
          li {
            padding: 5px 10px;
            cursor: pointer;
          }
        }
        &:hover .submenu {
          display: block;
        }
      }
    }
    
    .social-media{
      display: flex;
      justify-content: center;
      align-items: center ;
      a i{
        padding: 0.5rem;
        color: white;     
      }
    }
  }
}



@media (max-width: 1200px) {
  .navbar{
    &.scrolled {
      color: white !important;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.21);
      transition: 200ms ease-in-out;
      .menu{
        .social-media a i{
          color: white !important;
        }
        li a{
          color: white !important;
        }
      } 
      .menu-burger{
        color: black;
      }
    }
    .menu-burger {
      display: flex;
      z-index: 10;
      justify-content: end;
      align-items: center;
      &.open {
        color: white !important;
      }
    }
  
    .menu {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      div{
        display: block;
        hr{
          display:block;
          width: 10rem;
        }
        li {
          border-bottom: 1px solid black;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .submenu {
            position: static;
            display: block;
            z-index: 0;
          }
        }
      }
      .social-media{
        padding: 1rem;
      }
      &.open {
        display: flex; 
      }
  
    }
  }
}



