.title{
    position: relative;
    font-family: 'Odana';
    display: flex;
    padding-top: 10rem;
    padding-bottom: 1rem;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    font-size: 3rem;
    font-weight: 600;
}

.content{
    padding: 3rem 0rem;
    .info{
        padding: 1rem;
        .container{
            text-align: center;
            .subtitle{
                font-weight: 500;
                font-family: 'Odana';
                font-size: 1.5rem;
                margin: 0;
            }
        }
    }

    .profile{
        text-align: center;
        padding: 1rem;
        padding-left: 5%;
        padding-right: 5%;
        .pic{
            position: relative;
            display: inline-block;
            padding: 1rem;
            text-align: center;
            img{
                width: 15rem;
            }
            .name{
                position: absolute; 
                background: rgba(0, 0, 0, 0.7); 
                font-family: 'Odana';
                font-size: 1.2rem;
                color: white; 
                bottom: 2.5rem;
                text-align: center; 
                padding: 0.5rem;
            }
        }
    }
}