.title{
    position: relative;
    font-family: 'Odana';
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: navy;
    img{
        margin:0rem;
        width: 4rem;
    }
    span{
        margin: 0rem 1rem;
    }

}

.content{
    padding: 3rem 0rem;
    .info{
        padding: 1rem;
        .container{
            text-align: center;
            .subtitle{
                margin: 0;
                font-weight: 500;
                font-size: 2rem;
                color: rgb(180, 0, 0);
                font-family: 'Odana'; 
            }
        }
    }

    .profile{
        text-align: center;
        padding: 1rem;
        padding-left: 5%;
        padding-right: 5%;
        .pic{
            position: relative;
            display: inline-block;
            padding: 1rem;
            text-align: center;
            img{
                width: 15rem;
            }
            .name{
                position: absolute; 
                background: rgba(0, 0, 0, 0.7); 
                font-family: 'Odana';
                font-size: 1.2rem;
                color: white; 
                bottom: 2.5rem;
                text-align: center; 
                padding: 0.5rem;
            }
        }
    }
}