.page{
    background-image: url("/assets/img/symphony.png");
    .main-title{
        position: relative;
        width: 100%;
        height: 80vh;
        background-color: grey;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/assets/img/bg/DSC_5166.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
        color: white;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0rem;
        mat-tab-group{
            width: 80%;
            background-color: white;
            border: 5px double rgb(204, 204, 204);
            padding: 1rem;
            ul{
                padding: 0rem 3.5rem;
                li{
                    padding-top: 1rem;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}