.page{
    .main-title{
        position: relative;
        width: 100%;
        height: 80vh;
        background-color: grey;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:/Users/z004va3y/Documents/zr-website/src/assets/img/bg/BI4F4026.jpg");
        filter: saturate(1.2); 
        background-position: center 20%;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        display: flex;
        justify-content: center; /* Centers text horizontally */
        align-items: center; /* Centers text vertically */
        font-size: xxx-large;
    }

    .content{
        .section{
            padding-top: 1rem;
            padding-bottom:5rem;
            .title{
                display: flex;
                justify-content: center;
                font-size: xx-large;
                padding-top: 1rem;
                padding-bottom: 2rem;
            }
            .segment{
                display: flex;
                padding-left: 15%;
                padding-right: 15%;
                align-items: center;
                text-align: center;
                .text-left{
                    margin-right: 5rem;
                }
                .text-right{
                    margin-left: 5rem;            
                }
                .img{
                    width: 40%;
                }
                .img-left{
                    width: 40%;
                    margin-left: 2rem;
                }
                .img-right{
                    width: 40%;
                    margin-right: 2rem;
                }
            }
            .container{
                display: flex;
                justify-content: center;
                padding: 1rem;
                padding-left: 5%;
                padding-right: 5%;
                .element{
                    text-align: center;
                    width: 25%;
                    background-color: grey;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:/Users/z004va3y/Documents/zr-website/src/assets/img/bg/BI4F4026.jpg");
                    filter: saturate(1.2); 
                    background-attachment: fixed;
                    background-size: cover; /* Scales the image to cover the element */
                    color: white;
                    margin:0rem 2rem;
                    padding: 0.3rem;
                    border-radius: 5%;
                    .element-primary{
                        background-color:  rgba(0, 0, 0, 0.60);
                        margin:0rem 1rem;
                        padding:0.5rem
                    }
                    .element-secondary{
                        font-size: small;
                    }
                    img{
                        width: 90%;
                        margin-top: 1rem;
                        border: 0.5rem solid rgba(0, 0, 0, 0.60);
                    }
                }
            }
            .container2{
                display: flex;
                justify-content: center;
                padding: 1rem;
                padding-left: 5%;
                padding-right: 5%;
                .element2{
                    display: flex;
                    align-items: center; /* Vertical alignment */
                    justify-content: center; /* Horizontal alignment */
                    text-align: center;
                    width: 10rem;   /* Set equal width and height */
                    height: 10rem;
                    border-radius: 50%; /* Makes it a circle */
                    background-color: grey;
                    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("C:/Users/z004va3y/Documents/zr-website/src/assets/img/bg/BI4F4026.jpg");
                    filter: saturate(1.2); 
                    background-attachment: fixed;
                    background-size: cover; /* Scales the image to cover the element */
                    color: white;
                    margin:0rem 2rem;
                    padding: 0.3rem;
                    .element2-primary{
                        display: flex;
                        align-items: center; /* Vertical alignment */
                        justify-content: center; /* Horizontal alignment */
                        background-color:  rgba(0, 0, 0, 0.60);
                        width: 8rem;
                        height: 8rem;
                        border-radius: 50%; /* Makes it a circle */
                    }
                }                
            }
        }
        .section-bg{
            background-image: url("C:/Users/z004va3y/Documents/zr-website/src/assets/img/symphony.png");
        }
        .clickable{
            cursor: pointer;
        }
    }
}