<div class="content">
    <div class="main-title">
        <p>Aktuálne programy</p>
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <div class="container center">
            <div class="text-left">
                <p class="title">Folklórny súbor Železiar</p>

                <p>
                    Každoročne uvádza <b>novú premiéru</b>, ktorá obohacuje repertoár súboru o originálne tanečno-hudobné inscenácie 
                    inšpirované tradičnou kultúrou regiónov Východného Slovenska. 
                </p>

                <p>
                    Ponúkame predstavenia interpretované <b> precízne, 
                    profesionálne a s úctou k slovenskému folklóru</b> - nášmu kultúrnemu dedičstvu.
                </p>
            </div>
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img right">
        </div>

        <div class="container center switch">
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img left">
            <div class="text-right">
                Diváci si môžu vybrať <b>z viacerých programových možností</b>, v závislosti od charakteru podujatia, priestorov či cieľového publika. 
                Či už ide o <b>festival, firemnú akciu, súkromnú oslavu alebo bežný koncert v divadelnej sále</b>, Železiar dokáže osloviť každé publikum.
            </div>
        </div>

        <div class="container center">
            <div class="text-left">
                Samozrejmosťou je aj možnosť vyskladať <b>program na mieru</b>. Vieme pre vás zostaviť predstavenie podľa vašich predstáv — 
                zohľadníme preferovaný región, dĺžku vystúpenia, či tematické zameranie.
            </div>
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img right">
        </div>

        <div class="container center switch">
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img left">
            <div class="text-right">
                Súčasťou našej ponuky sú aj <b>výchovné koncerty</b> určené pre školy, ktoré hravou a pútavou formou približujú deťom a mládeži krásu ľudových 
                tradícií, tancov, piesní a zvykov, čím podporujú ich vzťah k nášmu kultúrnemu dedičstvu.
            </div>
        </div>

        <div class="block">
            <p class="title"> Bližšie informácie a organizačné detaily vystúpenia: </p>
    
            <div class="wrapper">
                <div class="contact">
                    <p><b> Alena Kmecová Škodyová </b> <br> umelecká vedúca <br> +421 908 630 765 </p>
                </div> 
                <div class="contact">
                    <p><b> Lukáš Borovský </b> <br> umelecký vedúci <br> +421 911 295 732 </p>
                </div> 
            </div>
        </div> 
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>V Tieni</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </div>

        <div class="container top switch"> 
            <div class="small-wrapper">
                <div class="primary">
                    Nový program V Tieni od folklórneho súboru Železiar predstaví príbehy národnostných menšín, ktoré spolu vytvárajú mozaiku Slovenska – pestrofarebnú,
                    melodickú, temperamentnú ako Slovensko samo. Príďte si s nami uctiť našich krajanov a potešte svoje oko, ucho i dušu.  
                </div>
                
                <div class="secondary">
                    <b>Námet a scenár:</b> Lukáš Borovský, Alena Kmecová Škodyová <br>
                    <b>Choreografia:</b> Alena Kmecová Škodyová, Lukáš Borovský, Vladimír Michalko, Róbert Sabol <br>
                    <b>Hudobná príprava:</b> Marek Ščurka <br>
                    <b>Vokálna príprava:</b> Katarína Kišidayová, Michaela Bratrůová <br>
                    <b>Tanečná príprava: </b> Peter Vajda, Zsófia Kupecová, Szilárd Badin, Dana Smoligová, Ivana Topoľovská, Katarína Mikitová, Jozef Ďurkovič <br>
                    <b>Foto:</b> Katarína Dzurčaninová
                </div>             
            </div>

            <div class="small-wrapper">
                <img src="assets/img/v-tieni.png" alt="">
            </div>            
        </div>
        
        <app-gallery-wrapper></app-gallery-wrapper>
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <div class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>60 rokov s Vami</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </div>

        <div class="container top switch"> 
            <div class="small-wrapper">
                <div class="primary">
                    Šarišské, zemplínske, spišské a abovské piesne a tance v samostatných tematických blokoch. 60 minútový program nielen “pre oči”. 
                    Troška humoru, štipka informácií, veľa zábavy, tanečného, speváckeho aj muzikantského kumštu a budete chcieť prísť a vidieť znova.
                </div>
                
                <div class="secondary">
                    <b>Námet a scenár:</b> Lukáš Borovský, Alena Kmecová Škodyová <br>
                    <b>Choreografia:</b> Vladimír Urban, Vladimír Michalko, Alena Kmecová Škodyová, Lukáš Borovský <br>
                    <b>Hudobná príprava:</b> Marek Ščurka, Filip Žiga <br>
                    <b>Vokálna príprava:</b> Andrea Rendošová, Michaela Bratrůová <br>
                    <b>Tanečná príprava:</b> Alena Kmecová Škodyová, Vladimír Urban <br>
                </div>             
            </div>

            <div class="small-wrapper">
                <img src="assets/img/60-rokov-s-vami.jpeg" alt="">
            </div>
        </div>

        <app-gallery-wrapper></app-gallery-wrapper>
    </div>

    <app-gallery *ngIf="!isHidden" [dataSource]="dataSource" [startIndex]="index" (close)="close()"></app-gallery>
</div>


