<div class="main-title">    
    <p>Spevácka zložka</p>
</div>

<div class="content">
    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="container">
            <p class="subtitle">Vedúca speváckej zložky</p>
            <p>Michaela Bratrůová</p>
        </div>
    </div>

    <div class="profile">
        <div class="pic" *ngFor="let item of dataSource">
            <img src="{{item.image}}" alt="">
            <div class="name">
                <b>{{item.name}}</b>
            </div>
        </div>
    </div>
</div>
