<div class="title">
    Spevácka zložka
</div>

<div class="content">
    <div class="info">
        <div class="container">
            <p class="subtitle">Vedúca speváckej zložky</p>
            <p>Michaela Bratrůová</p>
        </div>
    </div>

    <div class="profile">
        <div class="pic" *ngFor="let item of dataSource">
            <img src="{{item.image}}" alt="">
            <div class="name">
                <b>{{item.name}}</b>
            </div>
        </div>
    </div>
</div>
