<div class="wrapper">
    <p class="primary"> Fotogaléria</p>
    
    <div class="main-scroll-div">
        <div><button class="icon left" (click)="scrolll()"><i class="fa-solid fa-arrow-left-long fa-lg"></i></button></div>
        <div class="cover">
            <div class="scroll-box">
                <div class="child" *ngFor="let img of dataSource | slice:0:5">
                    <img src={{img}} alt="" (click)="open(img)" loading="lazy">
                </div>
            </div>
        </div>
        <div><button class="icon right" (click)="scrollr()"><i class="fa-solid fa-arrow-right-long fa-lg"></i></button></div>
    </div>

    <app-gallery *ngIf="!isHidden" [dataSource]="dataSource" [startIndex]="index" (close)="close()"></app-gallery>
</div>
