.content{
    overflow: hidden;
    .main-title{
        position: relative;
        width: 100%;
        height: 80vh;
        background-color: grey;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("assets/img/bg/334277273_1326034581306574_5098482351838506347_n.webp");
        filter: saturate(1.15); 
        background-attachment: fixed;
        background-size: cover;
        background-position: center 15%;
        color: white;
        display: flex;
        justify-content: center; /* Centers text horizontally */
        align-items: center; /* Centers text vertically */
    }

    .section{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;
        .background{
            .background-image-1{
                position: absolute;
                top: 5rem;     /* adjust as needed */
                left: -5rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 60vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }

            .background-image-2{
                position: absolute;
                top: 70rem;      /* adjust as needed */
                right: -5rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 60vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }
            
            .background-image-3{
                position: absolute;
                top: 135rem;     /* adjust as needed */
                left: -5rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 60vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }

            .background-image-4{
                position: absolute;
                top: 200rem;      /* adjust as needed */
                right: -5rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 60vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }
            .background-image-5{
                position: absolute;
                top: 270rem;     /* adjust as needed */
                left: -5rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 60vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }
            .background-image-6{
                position: absolute;
                top: 350rem;      /* adjust as needed */
                right: -5rem;     /* adjust as needed */
                z-index: -1;     /* behind the text */
                width: 60vw;   /* or any size you want */
                opacity: 0.3;   /* optional, to fade it behind text */
            }
        }
        .container{
            margin: 0.5rem;
            max-width:50%;
            div{
                background-color: rgba(255, 255, 255, 0.6);
                box-shadow: 0 0 25px 25px rgba(255, 255, 255, 0.6);
                border-radius: 50px;   
                padding: 1rem;
            }
            p{
                margin: 0;
            }
            .primary{
                margin: 0;
                font-family: 'Odana';
                color: rgb(180, 0, 0);
                font-size: 2rem;
                font-weight: 600;
            }
            .secondary{
                font-family: 'Odana';
                font-size: 1.5rem;
                font-weight: 600;
                color: navy;
                margin: 0.2rem;
            }
            .tertiary{
                font-family: "Odana";
                font-size: 1.2rem;
                font-weight: 500;
                margin: 0;
            }
        }
    }
}

@media(max-width:800px){
    .content{
        .section{
            padding: 1rem;
            .background{
                .background-image-1{
                    top: 5rem;     /* adjust as needed */
                    left: -15rem;     /* adjust as needed */
                    width: 150vw;   /* or any size you want */
                }

                .background-image-2{
                    top: 50rem;      /* adjust as needed */
                    right: -15rem;     /* adjust as needed */
                    width: 150vw;   /* or any size you want */
                }
                
                .background-image-3{
                    top: 105rem;     /* adjust as needed */
                    left: -15rem;     /* adjust as needed */
                    width: 150vw;   /* or any size you want */
                }

                .background-image-4{
                    top: 160rem;      /* adjust as needed */
                    right: -15rem;     /* adjust as needed */
                    width: 150vw;   /* or any size you want */
                }
                .background-image-5{
                    top: 210rem;     /* adjust as needed */
                    left: -15rem;     /* adjust as needed */
                    width: 150vw;   /* or any size you want */
                }
                .background-image-6{
                    top: 270rem;      /* adjust as needed */
                    right: -15rem;     /* adjust as needed */
                    width: 150vw;   /* or any size you want */
                }
            }
            .container{
                margin: 0.5rem;
                max-width: 90%;
                div{
                    padding: 0.5rem;
                }
                p{
                    margin: 0;
                    font-size: 0.8rem;
                    font-weight: bold;
                }
                .primary{
                    margin: 0;
                    font-family: 'Odana';
                    color: rgb(180, 0, 0);
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                .secondary{
                    font-family: 'Odana';
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: navy;
                    margin: 0.2rem;
                }
                .tertiary{
                    font-family: "Odana";
                    font-size: 1rem;
                    font-weight: 600;
                    margin: 0;
                }
            }
        }
    }
}