<div class="page">
    <div class="main-title">
        <p>Kontakty</p>
    </div>
    
    <div class="content">
        <div class="wrapper">
            <div class="map">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.32225921376!2d21.21321573940784!3d48.71843367407679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ee04bad542d5d%3A0x8a2d76285298c2f!2zRG9tIMS9dWRvdsOpaG8gVGFuY2E!5e0!3m2!1sen!2ssk!4v1735559395321!5m2!1sen!2ssk" 
                    allowfullscreen="" 
                    style="box-shadow: 0px 0px 20px 5px rgb(200, 200, 200); border: none;"
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        
            <div class="info">
                <div class="section">
                    <p class="primary"> Folklórny súbor Železiar </p>
                    <p class="secondary">(Dom ľudového tanca)</p>
                </div>
                <div class="section">
                    <p class="tertiary"> Košické folklórne štúdio, o. z.</p>
                    <p class="tertiary"> Starozagorská 10,</p>
                    <p class="tertiary"> 04023, Košice </p>
                    <p class="tertiary"> Slovensko </p>
                </div>
                <div class="section">
                    <p class="tertiary" style="color: black;">zeleziar&#64;zeleziar.sk</p>
                    <p class="tertiary" style="color: black;">cepcenie&#64;zeleziar.sk</p>
                </div>
            </div>
        </div>
    
        <div class="block">
            <p class="title">Kontakty</p>
            <div class="contacts">
                <div class="section">
                    <p class="primary">Ing. Lukáš Borovský</p>
                    <p>umelecký vedúci a choreograf</p>
                    <p>+421 911 295 732</p>
                </div>
            
                <div class="section">
                    <p class="primary">Mgr. Alena Kmecová Škodyová</p>
                    <p>umelecká vedúca a choreografka</p>
                    <p>+421 908 630 765</p>
                </div>  
                
                <div class="section">
                    <p class="primary">Zuzana Sitárová</p>
                    <p>krojárka</p>
                    <p>+421 905 250 837</p>
                </div> 
            </div>
        </div>

        <div class="wrapper">
            <div class="info">
                <div class="section">
                    <p class="primary"> Dom ľudového tanca </p>
                </div>
                <div class="section">
                    <p class="tertiary"> 
                        Poslaním Domu ľudového tanca je vytvárať priestor pre široké spektrum folkloristických aktivít. <br> 
                        Dominantou je výchova mládeže prostredníctvom hudby, spevu a tanca, zber, archivácia, šírenie a propagácia <br> 
                        rôznych foriem tradičnej kultúry a organizovanie kultúrnych podujatí.
                    </p>
                </div>

                <button class="clickable">
                    <a href="http://www.dlt.sk"> Dom ľudového tanca </a>
                </button>
            </div>

        </div>
    </div>
</div>

