<div class="content">
    <div class="main-title">
        <p>Kontakty</p>
    </div>
    
    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <div class="container">
            <div class="wrapper">
                <div class="element">
                    <h1 class="subtitle">
                        <img src="assets/img/zr-logo-left.png" alt="">
                        <span>Folklórny súbor Železiar</span> 
                        <img src="assets/img/zr-logo-right.png" alt="">
                    </h1>
                    
                    <p class="secondary">(Dom ľudového tanca)</p>
                </div>
                <div class="element">
                    <p class="tertiary"> Košické folklórne štúdio, o. z.</p>
                    <p class="tertiary"> Starozagorská 10,</p>
                    <p class="tertiary"> 04023, Košice </p>
                    <p class="tertiary"> Slovensko </p>
                </div>
                <div class="element">
                    <p class="tertiary" style="color: black;">zeleziar&#64;zeleziar.sk</p>
                    <p class="tertiary" style="color: black;">cepenie&#64;zeleziar.sk</p>
                </div>
            </div>

            <div class="map">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.32225921376!2d21.21321573940784!3d48.71843367407679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ee04bad542d5d%3A0x8a2d76285298c2f!2zRG9tIMS9dWRvdsOpaG8gVGFuY2E!5e0!3m2!1sen!2ssk!4v1735559395321!5m2!1sen!2ssk" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Kontakty</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="container">
            <div class="small-wrapper">
                <p class="primary">Ing. Lukáš Borovský</p>
                <p class="secondary">(umelecký vedúci a choreograf) <br> +421 911 295 732</p>
            </div>
        
            <div class="small-wrapper">
                <p class="primary">Mgr. Alena Kmecová Škodyová</p>
                <p class="secondary">(umelecká vedúca a choreografka) <br> +421 908 630 765</p>
            </div>  
            
            <div class="small-wrapper">
                <p class="primary">Zuzana Sitárová</p>
                <p class="secondary">(krojárka) <br> +421 905 250 837</p>
            </div> 
        </div>
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Dom ľudového tanca</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="container">
            <div class="text">
                Poslaním <b>Domu ľudového tanca</b> je vytvárať priestor pre široké spektrum folkloristických aktivít. <br> 
                Dominantou je výchova mládeže prostredníctvom hudby, spevu a tanca, zber, archivácia, šírenie a propagácia <br> 
                rôznych foriem tradičnej kultúry a organizovanie kultúrnych podujatí.
            </div>
        </div>

        <button class="round-button">
            <a href="http://www.dlt.sk"> Dom ľudového tanca </a>
        </button>
    </div>
</div>

