<div class="content">
    <div class="main-title">
        <p>Maratón tanca</p>
    </div>

<div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <h1 class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Maratón tanca 2011</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="container center">
            <div class="text-left">
                <p>
                    V sobotu <b>3. decembra 2011</b> sa folklórny súbor Železiar z Košíc zapísal do histórie novým slovenským 
                    rekordom v nepretržitom tancovaní choreografií ľudových tancov.
                </p>
                <p>
                    V rámci podujatia s názvom <b>„Maratón tanca“</b> vystúpil na pódiu košickej Infinity arény s vyčerpávajúcim, 
                    no jedinečným programom, v ktorom bez prestávky tancoval <b>viac ako 7 hodín</b>.
                </p>
            </div>
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img right">
        </div>

        <div class="container center switch">
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img left">
            <div class="text-right">
                Členovia súboru predviedli až <b>94 choreografií</b> zo svojho bohatého repertoáru, vytvoreného 
                v rokoch <b>1988 až 2011</b>. Autorom väčšiny z nich je umelecký vedúci Železiaru <b>Vladimír Urban</b>, 
                ktorého tvorba sa stala základom tohto tanečného maratónu.
            </div>
        </div>

        <div class="container center">
            <div class="text-left">
                <p>
                    Na pódiu sa striedalo <b>30 tanečníkov, 36 tanečníc, 8 tancujúcich speváčok a 5 muzikantov</b>, ktorí spoločne vytvorili 
                    rekord v najdlhšom tanečnom programe predvedenom na javisku.
                </p> 
                <p>
                    Do Infinity arény sa na tieto neuveriteľné výkony prišlo pozrieť okolo <b>1 500 divákov</b>, 
                    ktorí v hale vytvorili vynikajúcu atmosféru. Na konci strhujúceho finišu, do ktorého sa zapojili všetci členovia súboru sa ušiel 
                    folkloristom zo Železiaru neutíchajúci standing ovation.
                </p>
            </div>
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img right">
        </div>

        <div class="container center switch">
            <img src="assets\img\bg\FS Železiar_Kino Scala_Prešov-70.jpg" class="img left">
            <div class="text-right">
                Železiar tak znova prekonal sám seba – svoj pôvodný rekord z roku 1997, keď tancoval nepretržite <b>4 hodiny a 14 minút</b>. 
                Za tento výnimočný výkon si súbor prevzal <b>certifikát o rekorde od Knihy slovenských rekordov</b>.
            </div>
        </div>
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Zoznam choreografií</span> 
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <div class="main-scroll-div">
            <div>
                <button class="icon left" (click)="scrolll()"> <i class="fa-solid fa-arrow-left-long fa-lg"></i></button>
            </div>

            <div class="cover">
                <div class="scroll-box">
                    <div class="small-wrapper">
                        <p class="primary">
                            A. KED NAS SECE TU NAS MACE (Abov)
                        </p>
                        <p class = "secondary"> 
                            1. CHOROVODNÉ HRY <br>
                            2. CIFROŠI <br>
                            3. TARAJOVÝ <br>
                            4. KLATOVSKÝ VERBUNK <br>
                            5. KARIČKA <br>
                            6. DO ŠAFĽIKA <br>
                            7. MEDVEC <br>
                            8. KOŠICKÝ VERBUNK sólo <br>
                            9. KOŠICKÝ VERBUNK <br>
                            10. Tanečná hra -,,JAK NAŠ GAZDA,, <br>
                            11. REZGEĽ
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            B. VICHODŇAROM NA DZEKU, DRUHIM PRE POCECHU (Abov, Spiš, Šariš, Zemplín)
                        </p>
                        <p class = "secondary"> 
                            12. TROJAKÝ ŠAFĽIK <br>
                            13. RAKOVECKÝ ČARDÁŠ <br>
                            14. CIFRY podľa Vasiľa z Poše <br>
                            15. KARIČKA Z PARCHOVIAN <br>
                            16. VYKRÚCANÝ A ČAPÁŠ podľa Juraja Šaffu <br>
                            17. ZCHÁDZANÁ  AINÉ <br>
                            18. ROZJARENÉ NEVESTY <br>
                            19. KARIČKA <br>
                            20. ŠEKEREČKA, BAŠISTOVSKÁ, MARHAŇSKÁ <br>
                            21. BRAŇIČKA ŠAŠOM <br>
                            22. KRUCENA A ČARDÁŠ Z KRAČÚNOVIEC <br>
                            23. PASTIERSKE GRÍFY <br>
                            24. VINČARE <br>
                            25. POŽENEME KAČKY chorovod <br>
                            26. TANCE ZKOŠIARA <br>
                            27. BRINČKI <br>
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary"> 
                            C. SPIŠIACI (Spiš)
                        </p>
                        <p class="secondary">
                            28. DO ŠAFĽIKA A ČARDÁŠ ZO ŽAKAROVIEC <br> 
                            29. TANCOVANA A SKÁKANÁ Z KAMIENKY <br>
                            30. DO ŠAFLIKA (Bystrany), KRUTA (Margecany), ZARABJANY (Olcnava) <br>
                            31. TITILOMBOM <br>
                            32. ROVAŠ <br>
                            33. VIERBUNK <br>
                            34. JEDEN KRÁĽ MAL TRI DCERY <br>
                            35. PO JUHASKI <br>
                            36. PO BAČOVSKI A HAJDUK <br>
                            37. JAKI BAČA, ŠAK TO JUHAS <br>
                            38. JUHAŠI ŠE NA KOŠARU ZEŠĽI <br>
                            39. JUHAŠE, JUHAŠE <br>
                            40. DO ŠAFĽIKA A ČARDÁŠ <br>
                            41. HORU Z JAKUBIAN <br>
                            42. CÍFER, ROVNÝ, KRESANÝ ZO ŽDIARU <br>
                            43. MLÁDENECKÉ A CHLAPSKÉ ZÁBAVKY (hry spod Tatier) <br>
                            44. SPIŠSKÁ SVADBA <br>
                            45. ČARDÁŠ, DO ŠAFLIKA (svadobná zábava i.) <br>
                            46. SNÍMANIE A KUPOVANIE PARTY <br>
                            47. DRUŽBOVSKÝ TANEC <br>
                            48. TANEC SVADOBČANOV Z KOJŠOVA A ŽAKAROVIEC <br>
                            49. HARAKAJKY <br>
                            50. BRALTOVSKÝ TANEC <br>
                            51. SVADOBNÁ ZÁBAVA II. <br>
                            52. ČARDÁŠ <br>
                            53. V ZAĽUBENÍ – svadobný pár v posvadobnom tanci podľa Betky Zachariašovej
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            D. RUSNÁCKA MAŇIRA (Spiš, Šariš)
                        </p>
                        <p class = "secondary"> 
                            CHROMKA, ČARDÁŠ A POLKA zo Šemetkoviec  <br>
                            55. TANCE Z KAMIENKY <br>
                            56. TANCE Z KAMIENKY <br>
                            57. TANCE ZO ŠARIŠSKÉHO JASTRABIA  <br>
                            58. DRIBNA Z KYJOVA <br>
                            59. TANCE ZO ŠEMETKOVIEC <br>
                            60. ……..???????….. Text oščipici  <br>
                            61. TANCE A TANEČNÉ HRY – Hajduk a Ščipica  <br>
                            62. KYJOVSKÉ PIESNE A KOLESÁ <br>
                            63. KOLOMYJKA Z ČIRČA <br>
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            E. KRAĽOVSTVO TANCA I a II (Abov, Spiš, Šariš, Zemplín)
                        </p>
                        <p class = "secondary"> 
                            64. PARCHOVANSKÝ ČARDÁŠ III. <br>
                            65. RAKOVEC ČARDÁŠ <br> 
                            66. VASIĽOVÉ CIFRY PODĽA VYSTÚPENIA V TURECKU <br>
                            67. PAROBSKÉ TANCE (Brenkaný a i.) <br>
                            68. ČARDÁŠE Z PARCHOVIAN <br>
                            69. ĽAPKANÁ POLKA <br>
                            70. ŠAFFOV TANEC <br>
                            71. PRÁČKY <br>
                            72. POZDIŠOVSKÝ ČARDÁŠ <br>                   
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            F. VICHODŇARSKA ŠOU A VYDUMANÉ TANCE
                        </p>
                        <p class = "secondary"> 
                            73. PONOŽKA <br>
                            74. NA FRAJ <br>
                            75. PARÁDNICE A FIČÚRI <br>
                            76. FIŤKOŠI <br>
                            77. A MŇE ŠE BAČA TAKE KOŇE <br>
                            78. ZBOJNÍCI ASTRAŠIDLÁ <br>
                            79. MANUELA <br>
                            80. JACKSONIADA <br>
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            G. ROMALE ČHAVALE
                        </p>
                        <p class = "secondary"> 
                            81. OLASKÉ POPEVKY A TANCE <br>
                            82. VLAŠIKO KELIPE (tanec Vlašiko) <br>
                            83. PRI MARINGOTKE <br>
                            84. BOTOLÓ, PERGETO, CSARDÁS (Paszáb) <br>
                            85. RYTMICKÉ VARIACIE <br>
                            86. PO ROMOVSKY (E. Varga ) <br>
                            87. TANEC Z ČAUVASU <br>
                            88. MUZIKANTSKÉ TANEČNÉ CIFRY <br>
                            89. MAHALA <br>
                            90. TANEC RÓMOV Z OKOLIA TIRGU MUREŠ <br>
                            91. ROMANO HIP-HOP ČAPÁŠE <br>
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            H. MUŽ A ŽENA V TANCI <br>
                            a - Muž v tanci(v civile) 
                        </p>
                        <p class = "secondary"> 
                            92. VASIĽOVÉ CIFRY (Poša) <br>
                            93. ŠAFFOV CIFROVANÝ TANEC (Dlhé Kĺčovo) <br>
                            94. TARAJOVÝ TANEC (Slanec, Kalša) <br>
                            95. KAŽDÝ SVOJU CIFRU
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            H. MUŽ A ŽENA V TANCI <br>
                            b - Žena v tanci
                        </p>
                        <p class = "secondary"> 
                            96. KARIČKA (zemplínska teplica) <br> 
                            97. HUTORACKÉ A RUSNÁCKE CHOROVODY (Horný Zemplín) <br>
                            98. RUSNÁCKE KOLESO (Kyjov) <br>
                            99. KARIČKA S GAJDOŠOM (okolie Strážskeho)
                        </p>
                    </div>
                    
                    <div class="small-wrapper">
                        <p class="primary">
                            H. MUŽ A ŽENA V TANCI <br>
                            c - Mužské , ženské a párové tance podľa Vlada Michalka
                        </p>
                        <p class = "secondary"> 
                            100. VERBUNKY I. (Raslavice, Zamutov, Krivany, Fintice) <br>
                            101. KRUCENÉ (Raslavice, Jarovnice, Zamutov, Krivany) <br>
                            102. KARIČKA (Sečovská Polianka) <br>
                            103. VERBUNKY II. (okolie Vranova, Ostrov, N.Hrabovec, Kamenica n/c.) <br>
                            104. ČARDÁŠE (okolie Vranova n/t., Ostrova, Kamenica n/C.)
                        </p>
                    </div>
                    
                    <div class="small-wrapper">
                        <p class="primary">
                            H. MUŽ A ŽENA V TANCI <br>
                            d - Muž a žena v tanečnom divadle a súčasnom tanci
                        </p>
                        <p class = "secondary"> 
                            105. MILOVAČKA – ukážka ztanečného divadla Hriech <br>
                            106. MANŽELSKÁ POTÝČKA – ukážka ztanečného divadla Hriech <br>
                            107. HIP – HOP (locking, new style, house)
                        </p>
                    </div>
                    
                    <div class="small-wrapper">
                        <p class="primary">
                            H. MUŽ A ŽENA V TANCI <br>
                            e - Tanec podľa veku, pohlavia a profesie
                        </p>
                        <p class = "secondary"> 
                            108. PASTIERSKY TANEC (Kokava n/r.) <br>
                            109. PIESEŇ A REMESELNÍCKY TANEC (stredné slovensko) <br>
                            110. VOJENSKÝ TANEC – Verbovači <br>
                            111. ŽENY V MUŽSKOM TANCI <br>
                            112. MUŽI V ŽENSKOM TANCI <br>
                            113. GENERÁCIE V TANCI
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            H. MUŽ A ŽENA V TANCI <br>
                            f - Tanec pri obradoch a zábave  (Dožinky)
                        </p>
                        <p class = "secondary"> 
                            114. SCHÁDZANIE SA ŽENCOV <br>
                            115. ODOVZDANIE VENCA <br>
                            116. TANEC GAZDU SGAZDINOU (Kuľha tanec zo Z. Teplice) <br>
                            117. TANEC 1. ŽENCA A 1. ŽNICE (Čardáš zRakovca n/o.) <br>
                            118. TANEC VŠETKÝCH <br>
                            119. ZABÁVANIE SA <br>
                            120. ZÁVER DOŽINIEK (Čardáš z Rakovca n/o.) <br>
                            121. MUŽ A ŽENA V TANCI
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            I. ČO BOLO BOLO – ĎIVADELKO
                        </p>
                        <p class = "secondary"> 
                            122. JAG ME ŠE TANCOVAC UČIĽI <br>
                            123. TANCOVAČKA ABO OŠEMNAC TANCI Z VICHODU <br>
                            124. DRANCIRE, VIDUMNICI <br>
                            125. STAROBABSKI DIVADLO <br>
                            126. POSKOČICA LINDO Z CHORVÁTSKA <br>
                            127. TANEC Z MEDZIBODROŽIA <br>
                            128. MLÁDENECKÝ (LEGÉNYES) <br>
                            129.PÁROVÉ TANCE Z KALOTASZEGU <br>
                            130. TANCE Z LASTOMÍRA
                        </p>
                    </div>
        
                    <div class="small-wrapper">
                        <p class="primary">
                            J. NAJNOVŠIE A NAJSTARŠIE TANCE  (Abov, Spiš, Šariš, Zemplín)
                        </p>
                        <p class = "secondary"> 
                            130. MUŽSKÉ PIESNE, HUDBA NA SUCHO A TANEC NA LAVIČKE <br>
                            131. ŽENSKÉ A DIEVČENSKÉ TÚŽBY <br>
                            132. HUDBA, PIESNE A TANEC Z ABOVA <br>
                            133. KARIČKA, PAROBSKÝ A ČARDÁŠ ZPOZDIŠOVIEC <br>
                            134. ŠAFFOV TANEC <br>
                            135. ZÁMUTOVSKÉ TANCE (Parobský, Karička, Fľaškový, Krucená a Čardáš) <br>
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <button class="icon right" (click)="scrollr()"><i class="fa-solid fa-arrow-right-long fa-lg"></i></button>
            </div>
        </div>    
    </div>

    <div class="section">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <div class="background">
            <img src="assets/img/flower.jpg" class="background-image-1" alt="background">    
            <img src="assets/img/flower.jpg" class="background-image-2" alt="background">
        </div>

        <h1 class="title">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Zoznam interprétov</span>
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>
        
        <div class="container">
            <div class="small-wrapper">
                <p class="primary"> Mužská tanečná zložka </p>

                <p class="secondary">
                    Čižmárik Maroš <br>
                    Fedor Peter <br>
                    Geroč Ivan <br>
                    Králik Ján <br>
                    Kundrát Matúš <br>
                    Majerník Marek <br>
                    Michalov Ladislav <br> 
                    Mráz Štefan <br>
                    Novák Dávid <br>
                    Pástor Ladislav <br>
                    Rudy Ján <br>
                    Šemnický Lukáš <br>
                    Takáč Tomáš <br>
                    Trebuňák Jakub <br>
                    Záremba Martin
                </p>
            </div>

            <div class="small-wrapper">
                <p class="primary"> Ženská tanečná zložka </p>

                <p class="secondary">
                    Babinská Simona <br>
                    Dančišinová Zuzka <br>
                    Dečová Sára <br>
                    Garajová Ema <br>
                    Harvanová Lenka <br>
                    Hyblárová Lenka <br>
                    Kocanová Simona <br>
                    Liščinská Lenka <br>
                    Macinská Katarína <br>
                    Miškovičová Adriana <br>
                    Mižerová Petra <br>
                    Molnárová Tina <br>
                    Oravkinová Júlia <br>
                    Sakáčová Marta <br>
                    Slivková Dominika <br>
                    Šuleková Žofia <br>
                    Tothová Petra <br>
                    Zárembová Andrea
                </p>
            </div>

            <div class="small-wrapper">
                <p class="primary"> Spevácka zložka </p>

                <p class="secondary">
                    Béneová Emília <br>
                    Fecková Barbora <br>
                    Franeková Zuzana <br>
                    Gašparová Dana <br>
                    Geregová Zdenka <br>
                    Kišidayová Katarína <br>
                    Kmecová Agnesa <br>
                    Kmecová Katarína <br>
                    Kudlíková Alena <br>
                    Mrázová Zuzana <br>
                    Rendošová Andrea
                </p>
            </div>

            <div class="small-wrapper">
                <p class="primary"> Hudobná zložka </p>

                <p class="secondary">
                    Gereg Marián <br>
                    Hudák Ľuboslav <br>
                    Lacko Matej <br>
                    Porvazník Jozef <br>
                    Rendoš Milan 
                </p>
            </div>
        </div>
    </div>

    <div class="section transparent">
        <div class="divider">
            <img src="assets/svg/line1.png" alt="" class="line">
            <img src="assets/svg/line1.png" alt="" class="line wide">
        </div>

        <h1 class="title white">
            <img src="assets/img/zr-logo-left.png" alt="">
            <span>Fotogaléria</span>
            <img src="assets/img/zr-logo-right.png" alt="">
        </h1>

        <app-gallery-wrapper></app-gallery-wrapper>
    </div>

